<div class="container">
    <div class="social-area pull-right">
        <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/CreativeTim">
        <i class="fa fa-facebook-square"></i>
        </a>
        <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/CreativeTim">
        <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social btn-pinterest btn-simple" href="https://plus.google.com/+CreativetimPage">
        <i class="fa fa-google-plus-square"></i>
        </a>
        <a class="btn btn-social btn-pinterest btn-simple" href="https://dribbble.com/creativetim">
        <i class="fa fa-dribbble"></i>
        </a>
    </div>
    <div class="copyright">
        © 2016 Copy Right, Powered by CareerBuilder
    </div>
</div>