<nav id="ac-globalnav">
<div class="container" style="width:1440px;">
  <div style="float: left">
    <a href="#top" class="smooth-scroll-link">
      <img src="https://www.playosmo.com/images/f61fa38.logo_300.png" width="154" height="43" alt="Osmo" class="navbar-logo">
    </a>
  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" style="color: #FFFFFF" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: #FFFFFF" href="/about">About Us</a>
    </li>
  </ul>
</div>