<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body>
  <main>
    <header>
      <% include ./partials/header %>
    </header>

    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>66666</h1>
        </div>
      </div>
    </div>

    <footer class="footer footer-color-black">
      <% include ./partials/footer %>
    </footer>
  </main>
  </body>
</html>
