<!-- 这里我们只使用最基本的html结构：一个选择文件的按钮，一个开始上传文件的按钮(甚至该按钮也可以不要) -->
<p>
    <button id="browse">选择文件</button>
    <button id="start_upload">开始上传</button>
</p>

<script src="/javascripts/uploadImg.js"></script>
