<!-- 这里我们只使用最基本的html结构：一个选择文件的按钮，一个开始上传文件的按钮(甚至该按钮也可以不要) -->
<p>
    <button id="browse">Choose file</button>
    <button id="start_upload">upload</button>
</p>
<div id="preview"></div>
<script src="/javascripts/uploadImg.js"></script>
