<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body>
  <main>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="container" style="margin-top: 30px; width:1440px;">
      <divc lass="hero">
          <img id="hpBgImg" src="img/696654.jpg" style="width: 100%; max-width: 1440px; position: relative; background-size:cover"/>
      </div>
      
      <div class="textdiv">
        <h1>
          It's what we do together 
          <br>
          that sets us apart.
        </h1>
      </div>

      <div class="textdiv">
        <p id="mission" class="large-thin-portrait">We’re perfectionists. Idealists. Inventors. Forever tinkering with products and processes, always on the lookout for better. Whether you work at one of our global offices, offsite or even at home, a job at Apple will be demanding. But it also rewards bright, original thinking and hard work. And none of us here would have it any other way.</p>
      </div>

      <div class="section section-we-are-1" id="whoWeAre" style="margin-top: 80px">
        <div class="text-area">
          <div class="container">
            <div class="row">
              <div class="title" id="animationTest" style="float: left">
                  <h2>About Us</h2>
                  <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                  </div>
                  <p class="large">
                    Creative Tim is a startup that creates design tools that make the web development process faster and easier. We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>


      <div class="container" style="padding-right: 15px;padding-left: 15px; margin-right: auto;margin-left: auto; width: 1440px;">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-4">
                <div class="card add-animation animation-2 animate">
                  <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic10.jpg">
                </div>
                <div class="card add-animation animation-4 animate">
                  <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic6.jpg">
                </div>
              </div>
              <div class="col-md-4">
                <div class="card add-animation animation-1 animate">
                  <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic11.jpg">
                </div>
                  <div class="card add-animation animation-3 animate">
                    <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic1.jpg">
                  </div>
                  <div class="card add-animation animation-2 animate">
                    <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic9.jpg">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card add-animation animation-3 animate">
                      <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic2.jpg">
                  </div>
                    <div class="card add-animation animation-1 animate">
                      <img alt="..." src="http://presentation.creative-tim.com/assets/img/pic4.jpg">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    <footer class="footer footer-color-black" style="margin-top: 80px">
      <% include ./partials/footer %>
    </footer>
  </main>
  <!--<script>
    $(document).ready(function () {
      $.get('company-content/1', function (data) {
        var content = data[data.length - 1];
        var logo = content['logo'];
        var mission = content['mission'];
        var aboutUs = content['about_us'];
        var hpImg = content['hp_imgs'];
        var aboutUsImg = content['about_us_imgs'];

        $("#hpBgImg").attr('src', hpImg);
        $("#mission").text(mission);
      });

    });
  </script>-->
  </body>
</html>
