<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body>
  <main>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="container" style="margin-top: 30px">
      <divc lass="hero">
          <img src="img/696654.jpg" style="width: 100%; max-width: 1440px; position: relative; background-size:cover"/>
      </div>
      <div class="textdiv">
        <h1>
          It's what we do together 
          <br>
          that sets us apart.
        </h1>
      </div>
      <div class="textdiv">
        <p class="large-thin-portrai画">We’re perfectionists. Idealists. Inventors. Forever tinkering with products and processes, always on the lookout for better. Whether you work at one of our global offices, offsite or even at home, a job at Apple will be demanding. But it also rewards bright, original thinking and hard work. And none of us here would have it any other way.</p>
      </div>
    </div>

    <footer class="footer footer-color-black">
      <% include ./partials/footer %>
    </footer>
  </main>
  </body>
</html>
