body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.footer-color-black{
    color: #DDDDDD;
    overflow: hidden;
    line-height: 20px;
    border-top: 1px solid #DDDDDD;
}

.copyright {
    font-size: 14px;
    font-family: 'Droid Serif', "Helvetica Neue", "Helvetica","Arial";
    color: #777777;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}

.footer .social-area {
    padding: 15px 0;
    float: right;
}

.hero {
    background-size: cover;
    position: relative;
    width: 100%;
}

p.large-thin-portrait {
    font-family: "Myriad Set Pro", sans-serif;
    font-style: normal;
    font-weight: 200;
}
.textdiv {
  text-align: center; 
  max-width: 980px; 
  margin: 20px auto;
}
#ac-globalnav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 60px;
    background: #333;
    font-size: 18px;
}